main {
    width: 400px;
}
main h1 {
    font-style: italic;
}
img.ArticleImage {
    float: right;
    width: 150px;
}
p.Article {
    text-align: left;
}
table.ArticleTable {
    width: 200px;
    border-style: ridge;
}
td.ArticleTable 
{
    border-style: ridge;
}
form.SchoolForm input
{
    margin-bottom: 6px;
}
input.Submit {
    width: 100px;
}
table.Calculator,td {
    border-style:solid;
    border-color: darkblue;
    background-color: lightsteelblue;
}

table.Calculator  {
    border-collapse:collapse;
    width:300px;
    height: 400px;
}
table.Calculator td{
    padding: 5px;
    height:40px;
}
table.Calculator input[type=button] {
    width: 100%;
    height: 100%;
    font-family: Courier New, Courier, monospace;
    border-color: transparent;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    font-size:300%;
    font-weight: bolder;
    color: darkslateblue;
    text-shadow: 4px 2px lightskyblue;
}
table.Calculator input[type=text] {
    background-color: transparent;
    border-color: transparent;
    display: inline-block;
    width:100%;
    height:100%;
    font-size:360%;
    text-align: right;
    font-weight: bolder;
    font-family: Courier New, Courier, monospace;
    color: darkslateblue;
    text-shadow: 4px 2px lightskyblue;
}